.button {
    padding: 11px 25px 13px;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    @include font(1.6rem, 2.2rem, 600);
    border-radius: 4px;
    cursor: pointer;
    @extend %transition;

    &_bordered {
        background-color: $color-light;
        border: 1px solid $color-border;
        box-sizing: border-box;
        color: $color-text;

        &:hover {
            background-color: $color-hover-2;
            border-color: $color-hover-2;
        }
    }

    &_colored {
        background-color: $color-brand;
        color: $color-light;
        border: 1px solid $color-brand;

        &:hover {
            background-color: $color-hover-1;
            border-color: $color-hover-1;
        }
    }
}

.link-button {
    display: inline-flex;
    align-items: center;
    @extend %font-additional;
    @include font(1.6rem, 2.4rem, 600);
    color: $color-brand;
    @extend %transition;
    
    &:hover {
        color: $color-hover-1;
    }
}
