$color-brand: #FF9900;
$color-hover-1: #FF7549;
$color-hover-2: #BCD0E5;
$color-bg: #FFEEE1;
$color-link: #1943EF;
$color-text: #544837;
$color-heading: #2F281E;
$color-border: #D7D7D7;
$color-tag: #F5F5F5;
$color-light: #fff;
$color-violet: #7752BE;
$color-yellow: #FAB005;
$color-red: #F03E3D;
$color-blue: #4DADF7;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;