.header {
    padding: 15px 0px 17px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background-color: $color-light;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    font-size: 1.5rem;
    line-height: 28px;
}

.navigation li {
    padding: 0px 10px;
    list-style: none;
    cursor: pointer;
    color: $color-heading;
}

.header__buttons>.button:nth-child(1) {
    margin-right: 13px;
}